/* ============================================================
  RESET - http://meyerweb.com/eric/tools/css/reset/
============================================================ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ============================================================
  BOX SIZING & CLEARFIX
============================================================ */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ============================================================
  NORMALIZE
============================================================ */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
  display:block
}

audio,canvas,video {
  display:inline;
  zoom:1
}

audio:not([controls]) {
  display:none;
  height:0
}

[hidden] {
  display:none
}

html {
  background:#fff;
  color:#000;
  font-size:100%;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%
}

html,button,input,select,textarea {
  font-family:sans-serif
}

a:focus {
  outline:thin dotted
}

a:active,a:hover {
  outline:0
}

h1 {
  font-size:2em;
  margin:.67em 0
}
/*
h2 {
  font-size:1.5em;
  margin:.83em 0
}*/

h3 {
  font-size:1.17em;
  margin:1em 0
}

h4 {
  font-size:1em;
  margin:1.33em 0
}

h5 {
  font-size:.83em;
  margin:1.67em 0
}

h6 {
  font-size:.67em;
  margin:2.33em 0
}

abbr[title] {
  border-bottom:1px dotted
}

b,strong {
  font-weight:700
}

blockquote {
  margin:1em 40px
}

dfn {
  font-style:italic
}

hr {
  -moz-box-sizing:content-box;
  box-sizing:content-box;
  height:0
}

mark {
  background:#ff0;
  color:#000
}

code,kbd,pre,samp {
  font-family:monospace,serif;
  font-family:'courier new',monospace;
  font-size:1em
}

pre {
  white-space:pre-wrap;
  word-wrap:break-word
}

q {
  quotes:none
}

q:before,q:after {
  content:none
}

small {
  font-size:80%
}

sub,sup {
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline
}

sup {
  top:-.5em
}

sub {
  bottom:-.25em
}

dd {
  margin:0 0 0 40px
}

menu,ol,ul {
  padding:0 0 0 40px
}

nav ul,nav ol {
  list-style:none;
  list-style-image:none
}

img {
  border:0;
  -ms-interpolation-mode:bicubic
}

svg:not(:root) {
  overflow:hidden
}

fieldset {
  border:1px solid silver;
  margin:0 2px;
  padding:.35em .625em .75em
}

legend {
  border:0;
  white-space:normal;
  margin-left:-7px;
  padding:0
}

button,input,select,textarea {
  font-size:100%;
  vertical-align:middle;
  margin:0
}

button,input {
  line-height:normal
}

button,select {
  text-transform:none
}

button,html input[type=button],/* 1 */
input[type=reset],input[type=submit] {
  -webkit-appearance:button;
  cursor:pointer;
  overflow:visible
}

button[disabled],html input[disabled] {
  cursor:default
}

input[type=checkbox],input[type=radio] {
  box-sizing:border-box;
  height:13px;
  width:13px;
  padding:0
}

input[type=search] {
  -webkit-appearance:textfield;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  box-sizing:content-box
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
  -webkit-appearance:none
}

button::-moz-focus-inner,input::-moz-focus-inner {
  border:0;
  padding:0
}

textarea {
  overflow:auto;
  vertical-align:top
}

table {
  border-collapse:collapse;
  border-spacing:0
}

body,figure,form {
  margin:0
}

p,pre,dl,menu,ol,ul {
  margin:1em 0
}

/* ============================================================
  MAIN
============================================================ */

html,button,input,select,textarea {
  color:#222
}

body {
  font-size:1em;
  line-height:1.4
}

hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #ccc;
  margin:1em 0;
  padding:0
}

img {
  vertical-align:middle
}

fieldset {
  border:0;
  margin:0;
  padding:0
}

textarea {
  resize:vertical
}

.chromeframe {
  background:#ccc;
  color:#000;
  margin:.2em 0;
  padding:.2em 0
}

.ir {
  background-color:transparent;
  border:0;
  overflow:hidden;
  text-indent:-9999px
}

.ir:before {
  content:"";
  display:block;
  width:0;
  height:150%
}

.hidden {
  display:none!important;
  visibility:hidden
}

.visuallyhidden {
  border:0;
  clip:rect(0000);
  height:1px;
  overflow:hidden;
  position:absolute;
  width:1px;
  margin:-1px;
  padding:0
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
  clip:auto;
  height:auto;
  overflow:visible;
  position:static;
  width:auto;
  margin:0
}

.invisible {
  visibility:hidden
}

.clearfix:before,.clearfix:after {
  content:" ";
  display:table
}

.clearfix:after {
  clear:both
}

.clearfix {
  zoom:1
}

::-moz-selection,::selection {
  background:#b3d4fc;
  text-shadow:none
}

@media print {
  
  * {
    background:transparent!important;
    color:#000!important;
    box-shadow:none!important;
    text-shadow:none!important
  }

  a,a:visited {
    text-decoration:underline
  }

  a[href]:after {
    content:" (" attr(href) ")"
  }

  abbr[title]:after {
    content:" (" attr(title) ")"
  }

  .ir a:after,a[href^=javascript:]:after,a[href^=#]:after {
    content:""
  }

  pre,blockquote {
    border:1px solid #999;
    page-break-inside:avoid
  }

  thead {
    display:table-header-group
  }

  tr,img {
    page-break-inside:avoid
  }

  img {
    max-width:100%!important
  }

  @page {
    margin:.5cm
  }

  p,h2,h3 {
    orphans:3;
    widows:3
  }

  h2,h3 {
    page-break-after:avoid
  }
}

/* ============================================================
  HTML & BODY
============================================================ */
body {
  background-color: #b4b4b4;
  color: #787878;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.wrapper {
  width: 100%;
  margin: 0 auto;
}

main {
  display: block;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ============================================================
  INFO BAR
============================================================ */
.info-bar {
  padding: 5px 0;
  background-color: #fff;
  text-align: center;
}
.info-bar a.icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background-image: url("../img/core/icons-dark.png");
  background-image: url("../img/core/icons-dark.svg"), none;
  opacity: 0.3;
}
.info-bar .cmn-tut {
  background-position: 0 0;
}
.info-bar .cmn-prev {
  background-position: -30px 0;
}
.info-bar .cmn-next {
  background-position: -60px 0;
}
.info-bar .cmn-download {
  background-position: -90px 0;
}
.info-bar .cmn-archive {
  background-position: -120px 0;
}
.info-bar a.icon[data-title]:after {
  opacity: 1;
}
.info-bar a.icon[data-title]:hover:after {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 20px;
  content: attr(data-title);
  padding: 5px 10px;
  background-color: #fff;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  white-space: nowrap;
}

/* ============================================================
  HEADER & SITE TITLE
============================================================ */
/* header */
header .branding {
  padding: 20px 0;
}
header .logo {
  margin-bottom: 20px;
  text-align: center;
}
header .logo img {
  display: inline-block;
  vertical-align: middle;
}
header .social {
  text-align: center;
}
header .social a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  color: rgba(0, 0, 0, 0);
  font-size: 0;
  text-indent: -9999px;
  background-size: 30px 30px;
  background-image: url("../img/core/social-light.png");
  background-image: url("../img/core/social-light.svg"), none;
  background-size: 180px 30px;
}
header .social a.fb {
  background-position: 0 0;
}
header .social a.twitter {
  background-position: -30px 0;
}
header .social a.googleplus {
  background-position: -60px 0;
}
header .social a.rss {
  background-position: -90px 0;
}
header .social a.email {
  background-position: -120px 0;
}
header .social a.search {
  background-position: -150px 0;
}
header .social a:hover {
  opacity: 0.4;
}

@media all and (min-width: 600px) {
  header .branding {
    padding-left: 60px;
  }
  header .logo {
    margin-bottom: 0;
    margin-left: -60px;
    float: left;
    width: 60px;
    height: 60px;
  }
  header .logo img {
    display: block;
    margin: 0;
  }
  header .social {
    padding: 15px 0;
    float: right;
    width: 100%;
    text-align: right;
  }
}
/* site title */
.site-title {
  padding: 5px 0;
  background-color: #818181;
  text-align: center;
}
.site-title h1 {
  color: #fff;
}

/* ============================================================
  FOOTER
============================================================ */
footer {
  padding: 20px 0;
}
footer .asides {
  margin-bottom: 20px;
}
footer aside {
  margin-bottom: 10px;
}
footer nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
footer nav li {
  display: inline-block;
}
footer nav a {
  display: block;
  margin: 0 5px;
  color: #fff;
}
footer .logo {
  text-align: center;
}
footer .logo img {
  display: inline-block;
  vertical-align: middle;
}
footer .copyright {
  text-align: center;
}
footer .copyright small {
  color: #fff;
  font-size: 12px;
}
footer .copyright a {
  color: #818181;
}

@media all and (min-width: 600px) {
  footer aside {
    margin-bottom: 0;
    float: left;
    width: 33.3333%;
  }
  footer nav ul {
    text-align: left;
  }
  footer nav li {
    display: block;
  }
  footer nav a {
    display: inline-block;
    margin: 0;
  }
  footer .logo {
    text-align: right;
  }
}
/* ============================================================
  FUSION ADS
============================================================ */
#fusionads {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 20;
  padding: 20px;
  background: rgba(255, 255, 255, 0.95);
  font-size: 12px;
  line-height: 1.2;
  -webkit-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
}

#fusionads .fusion-wrap {
  display: block;
  margin: 0 auto 10px auto;
  width: 130px;
}

#fusionads a.fusion-text {
  display: block;
  color: #787878;
}

#fusionads a.fusion-img {
  display: block;
  margin-bottom: 10px;
  width: 130px;
  height: 100px;
  background-color: #fff;
}

#fusionads a.fusion-img img {
  display: block;
  margin: 0 0 10px 0;
}

#fusionads a.fusion-poweredby {
  color: #b4b4b4;
}
#fusionads a.fusion-poweredby:hover {
  color: #818181;
}

#close-fusionad {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 30;
  width: 20px;
  height: 20px;
  background-color: #282828;
  text-align: center;
  line-height: 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}

/* ============================================================
  TEXT LEVEL SEMANTICS
============================================================ */
a {
  text-decoration: none;
  color: #b4b4b4;
}

a:hover {
  color: #818181;
}


/* ============================================================
  E-LEXIA
============================================================ */
body {
  background:#FFF;
  color:#010101;
  font-family:"Open Sans",sans-serif;
  font-weight:300;
  text-align:center
}

:lang(en) {
  font-style:italic
}

header,nav {
  display:inline-block;
  vertical-align:top
}

header {
  padding-top:.4em;
  width:15%
}

header h1 {
  line-height:0;
  margin:0;
  padding:0
}

header h1 a {
  text-decoration:none
}

header h1 a img {
  border:none;
  max-width:150px;
  width:100%
}

header h1 a img:hover {
  padding:.1em 0
}

nav {
  width:60%
}

nav ul {
  margin:0;
  padding:0
}

nav ul li {
  display:inline-block;
  padding-top:0;
  width:20%;
  margin:0 -2px;
}

nav ul li a {
  background:#FFF;
  background-image:url(../img/design/bg-nav.png);
  background-position:top left;
  background-repeat:repeat-x;
  color:#656565;
  display:block;
  font-weight:700;
  padding:.8em 0;
  text-decoration:none
}

nav ul li a:hover {
  background:#EEE;
  box-shadow:0 0 1em #ccc inset;
  color:#101010
}

nav ul li a.active {
  background-position:0 -3px;
  border-bottom:.3em solid orange;
  color:orange;
  font-weight:400;
  padding:.6em 0
}

nav ul li a.active:hover {
  background-position:0 0;
  border:none;
  color:#101010;
  padding:.8em 0
}

#imagen {
  background-image:url(../img/design/muralla.png),url(../img/bg/desktop.jpg);
  background-position:left bottom,left top;
  background-repeat:repeat-x,no-repeat;
  background-size:auto,cover;
  height:22em;
  margin:0 auto;
  padding-top:2em;
  width:100%
}

#imagen-interna {
  background-image:url(../img/design/muralla.png),url(../img/bg/desktop.jpg);
  background-position:left bottom,left top;
  background-repeat:repeat-x,no-repeat;
  background-size:auto,cover;
  height:5em;
  margin:0 auto;
  padding-top:2em;
  width:100%
}

#imagen .contenedor {
  max-width:1024px;
  margin:3em auto 0
}

#imagen .contenedor section {
  background-color:rgba(255,255,255,0.9);
  border-radius:.3em;
  box-shadow:0 0 .5em #333;
  position:relative;
  left:45%;
  padding:.5em;
  top:0;
  width:51%;
  z-index:1
}

#imagen .contenedor section article {
  text-align:left
}

#imagen .contenedor section article h2 {
  margin:0
}

#imagen .contenedor section article h2 a {
  color:#1b1b1b;
  text-decoration:none
}

#imagen .contenedor section article h2 a:hover {
  text-decoration:none;
  text-shadow:1px 1px 4px #777
}

#imagen .contenedor section article img {
  float:left;
  padding-right:.7em;
  width:25%
}

#quienes-somos {
  background:#EEE;
  margin:0 auto;
  padding:1em 0 0;
  text-align:left;
  width:100%
}

#quienes-somos .contenedor {
  max-width:1024px;
  margin:0 auto
}

#quienes-somos .contenedor h2 {
  color:#555;
  font-size:1.5em;
  margin:0 0 .5em
}

#quienes-somos .contenedor #primera,#quienes-somos .contenedor #segunda {
  display:inline-block;
  vertical-align:top;
  margin:0 4%;
  width:40%
}

#quienes-somos .contenedor p {
  display:inline;
  vertical-align:top
}

#quienes-somos .contenedor #primera p,#quienes-somos .contenedor #segunda ul {
  margin-top:0
}

#quienes-somos .contenedor a.boton-contactanos,#quienes-somos .contenedor a.boton-contactanos-izquierda {
  background:orange;
  border-left:.75em solid #E80;
  box-shadow:.1em .1em .1em #999;
  color:#111;
  display:block;
  font-weight:700;
  margin:2.5em auto;
  padding:.7em 1em;
  text-align:center;
  text-decoration:none;
  width:95%
}

#quienes-somos .contenedor a.boton-contactanos-izquierda {
  margin:3em 0 0
}

#quienes-somos .contenedor a.boton-contactanos:hover,#quienes-somos .contenedor a.boton-contactanos-izquierda:hover {
  background:orange;
  box-shadow:none
}

#quienes-somos .contenedor .interna {
  display:inline-block;
  vertical-align:top;
  margin:0 1%;
  width:71%
}

#quienes-somos .contenedor .interna h2 {
  color:#333;
  font-size:1.5em;
  margin-top:1em;
  text-shadow:0 0 4px #AAA
}

#quienes-somos .contenedor .interna p,#quienes-somos .contenedor .interna ul {
  display:block;
  line-height:1.6em
}

#quienes-somos .contenedor .interna .linea-trabajo {
  background:#FFF;
  border-radius:.5em;
  box-shadow:.1em .1em .5em #999;
  display:inline-block;
  vertical-align:top;
  margin:1% 2%;
  padding:.5em;
  width:26%
}

#quienes-somos .contenedor .interna .linea-trabajo:hover {
  background:#e2e2e2;
  box-shadow:.2em .2em .5em #999 inset
}

#quienes-somos .contenedor .interna .linea-trabajo h3.linea-titulo {
  font-size:1.26em;
  line-height:.5em;
  margin:.5em 0 .9em;
  padding:0;
  text-align:center
}

#quienes-somos .contenedor .interna .linea-trabajo h3.linea-titulo a {
  color:#bd3a02;
  text-decoration:none
}

#quienes-somos .contenedor .interna .linea-trabajo p.linea-descripcion {
  font-size:.9em
}

#quienes-somos .contenedor .interna .formulario-google {
  border:none;
  border-radius:7px;
  box-shadow:0 0 4px #777
}

#quienes-somos .contenedor aside {
  display:inline-block;
  vertical-align:top;
  margin:0 1% 0 0;
  padding:0 1%;
  width:23%
}

#quienes-somos .contenedor aside #tip {
  background:#f7f7f7;
  border-radius:.5em;
  box-shadow:0 0 .2em #777;
  margin:0 0 1em;
  padding:0 5% 4%;
  width:90%
}

#quienes-somos .contenedor aside h5 {
  color:#777;
  font-size:.9em;
  margin:3em 0 .5em;
  padding:.5em .3em;
  text-align:center
}

#quienes-somos .contenedor aside h5:nth-child(1) {
  margin-top:1.4em
}

#quienes-somos .contenedor aside p {
  font-size:.8em;
  display:block
}

.interna a,.interna a[target=_blank] {
  position:relative;
  text-decoration:none
}

.interna a[target=_blank]:after {
  content:"";
  position:absolute;
  border:2px solid #00E;
  border-bottom:7px solid transparent;
  border-left:7px solid transparent;
  top:3px;
  right:-10px;
  width:0;
  height:0;
  -ms-transform:rotate(20deg);
  -webkit-transform:rotate(20deg);
  -o-transform:rotate(20deg);
  -moz-transform:rotate(20deg);
  transform:rotate(20deg);
  -ms-transition:all .2s;
  -moz-transition:all .2s;
  -o-transition:all .2s;
  -webkit-transition:all .2s;
  transition:all .2s
}

.interna a[target=_blank]:visited:after {
  border:2px solid #551A8B;
  border-bottom:7px solid transparent;
  border-left:7px solid transparent
}

.interna a[target=_blank]:hover:after {
  border:2px solid #555;
  border-bottom:7px solid transparent;
  border-left:7px solid transparent;
  -ms-transform:rotate(40deg);
  -moz-transform:rotate(40deg);
  -o-transform:rotate(40deg);
  -webkit-transform:rotate(40deg);
  transform:rotate(40deg)
}

#video {
  background:#EEE;
  margin:0 auto;
  padding-bottom:1em;
  text-align:left;
  width:100%
}

#video .contenedor {
  max-width:1024px;
  margin:0 auto
}

#video .contenedor h2 {
  color:#555;
  font-size:1.5em;
  margin:0 0 .5em
}

#video .contenedor #player,#video .contenedor #list {
  display:inline-block;
  vertical-align:top;
  text-align:center
}

#video .contenedor #player {
  padding:0 5%;
  width:50%
}

#video .contenedor #player iframe {
  border:1em #1b1b1b solid;
  height:270px;
  width:100%
}

#video .contenedor #list {
  width:39%
}

#video .contenedor #list .primera,#video .contenedor #list .segunda,#video .contenedor #list .tercera {
  display:inline-block;
  margin:0;
  padding:0;
  text-align:left;
  width:100%
}

#video .contenedor #list .primera:hover,#video .contenedor #list .segunda:hover,#video .contenedor #list .tercera:hover {
  margin-left:.5em;
  padding-right:.5em
}

#video .contenedor #list .primera h3,#video .contenedor #list .segunda h3,#video .contenedor #list .tercera h3 {
  font-size:1em;
  margin:0;
  padding:.5em 0 0;
  line-height:1em
}

#video .contenedor #list div h3 a {
  color:#111;
  text-decoration:none
}

#video .contenedor #list .primera p,#video .contenedor #list .segunda p,#video .contenedor #list .tercera p {
  color:#111;
  font-size:.8em;
  font-weight:400
}

#video .contenedor #list a img {
  float:left;
  max-width:134px;
  width:100%
}

#video .contenedor ul.clientes {
  list-style:none;
  margin:0;
  text-align:center
}

#video .contenedor ul.clientes li.cliente {
  background:none;
  border:none;
  border-radius:10%;
  display:inline-block;
  height:6.5em;
  margin:1em 1.5em;
  text-align:center;
  vertical-align:top;
  width:6.5em
}

#video .contenedor ul.clientes li.cliente:hover {
  border:none
}

#video .contenedor ul.clientes li.cliente div.uno,#video .contenedor ul.clientes li.cliente:hover div.dos {
  display:block
}

#video .contenedor ul.clientes li.cliente:hover div.uno,#video .contenedor ul.clientes li.cliente div.dos {
  display:none;
  font-size:.9em;
  font-weight:700;
  text-shadow:0 0 1px #777
}

#video-embed {
  overflow:hidden;
  position:relative;
  text-align:center;
  height:0;
  padding-bottom:56.25%;
  width:100%
}

#video-embed video {
  position:absolute;
  left:0;
  right:0;
  width:100%;
  height:100%
}

#video-embed .video-embed-text {
  background-color:rgba(200,200,200,.7);
  border-radius:1em;
  left:50%;
  margin:1em -45%;
  padding:2em 1em;
  position:absolute;
  top:0;
  width:90%;
  z-index:1
}

#video-embed .video-embed-text .team {
  display:inline-block;
  margin:1em auto;
  padding:1%;
  text-align:center;
  width:22.5%;
  vertical-align:top
}

#video-embed .video-embed-text .team div.team-photo {
  background:#fcfcfc;
  border-radius:100%;
  box-shadow:2px 2px 4px #777 inset;
  margin:0 auto;
  padding:.5em 0;
  width:70%
}

#video-embed .video-embed-text .team div.team-photo img {
  border-radius:50%;
  width:89%
}

#video-embed .video-embed-text .team p {
  line-height:1.2em
}

#video-embed .video-embed-text .team span.formacion {
  font-size:.8em
}

#video-embed .video-embed-text .team img.redes {
  border-radius:.2em;
  margin-top:.8em;
  width:32px
}

#redes-sociales {
  background:#FFF;
  border-top:.3em solid #CCC;
  margin:0 auto;
  padding-top:1em;
  text-align:left;
  width:100%
}

#redes-sociales .contenedor {
  max-width:1024px;
  margin:0 auto
}

#redes-sociales .contenedor ul {
  list-style:none;
  margin:0;
  text-align:center
}

#redes-sociales .contenedor ul li {
  background:#DDD;
  background-image:url(../img/design/redes-sociales.png);
  background-repeat:no-repeat;
  border:.25em solid #AAA;
  border-radius:50%;
  display:inline-block;
  height:5em;
  margin:1em 1.5em;
  text-align:center;
  vertical-align:top;
  width:5em
}

#redes-sociales .contenedor ul li:hover {
  border:.25em solid #DDD
}

#redes-sociales .contenedor ul li a {
  display:block;
  height:90px;
  text-decoration:none;
  width:90px
}

#redes-sociales .contenedor ul li:nth-child(1) {
  background-position:-4px -90px
}

#redes-sociales .contenedor ul li:nth-child(1):hover {
  background-position:-91px -90px
}

#redes-sociales .contenedor ul li:nth-child(2) {
  background-position:-4px -448px
}

#redes-sociales .contenedor ul li:nth-child(2):hover {
  background-position:-91px -448px
}

#redes-sociales .contenedor ul li:nth-child(3) {
  background-position:-4px -5px
}

#redes-sociales .contenedor ul li:nth-child(3):hover {
  background-position:-91px -3px
}

#redes-sociales .contenedor ul li:nth-child(4) {
  background-position:-4px -268px
}

#redes-sociales .contenedor ul li:nth-child(4):hover {
  background-position:-91px -268px
}

#redes-sociales .contenedor ul li:nth-child(5) {
  background-position:-4px -358px
}

#redes-sociales .contenedor ul li:nth-child(5):hover {
  background-position:-91px -358px
}

#redes-sociales .contenedor ul li:nth-child(6) {
  background-position:-4px -181px
}

#redes-sociales .contenedor ul li:nth-child(6):hover {
  background-position:-91px -181px
}

#pie {
  background:#DDD;
  background-image:url(../img/design/muralla-redes.png);
  background-position:top left;
  background-repeat:repeat-x;
  margin:0 auto;
  padding-top:1em;
  width:100%
}

#pie .contenedor {
  max-width:1024px;
  margin:0 auto
}

#pie .contenedor #verde,#pie .contenedor footer {
  display:inline-block;
  vertical-align:top
}

#pie .contenedor #verde {
  background:url(../img/design/arboles-eLexia.png);
  background-position:center bottom;
  background-repeat:no-repeat;
  height:10.6em;
  font-size:.7em;
  font-weight:400;
  padding-top:2em;
  width:25%
}

#pie .contenedor footer {
  font-size:.8em;
  font-weight:400;
  text-align:right;
  width:74%
}

#pie .contenedor footer a {
  color:#1b1b1b;
  text-decoration:none
}

#pie .contenedor footer a:hover {
  text-decoration:underline
}

#pie .contenedor footer#mobilef {
  display:none
}

#pie .contenedor footer iframe.fb {
  border:none;
  display:inline;
  overflow:hidden;
  width:80px;
  height:20px
}

#pie .contenedor footer p.tw {
  display:inline;
  height:20px;
  margin:0;
  padding:0
}

@media screen and (max-width:1024px) {
#superior header {
  width:20%
}

#superior nav {
  width:79%
}

#superior nav ul li a:hover {
  background:#EEE;
  box-shadow:0 0 1em #ccc inset;
  color:#101010
}

#superior nav ul li a.active {
  background-position:0 -3px;
  border-bottom:.3em solid orange;
  color:orange;
  font-weight:400;
  padding:.6em 0
}

#superior nav ul li a.active:hover {
  background-position:0 0;
  border:none;
  color:#101010;
  padding:.8em 0
}

#imagen {
  height:16em
}

#imagen .contenedor section {
  right:5%;
  top:10%;
  position:relative;
  width:50%
}

#imagen .contenedor section article h2 a {
  font-size:.9em
}

#imagen .contenedor section article p.segunda {
  display:none
}

#quienes-somos .contenedor {
  max-width:960px;
  width:96%
}

#quienes-somos .contenedor .interna {
  display:block;
  width:100%
}

#quienes-somos .contenedor .interna h2 {
  padding-left:0;
  margin-left:0
}

#quienes-somos .contenedor a.boton-contactanos,#quienes-somos .contenedor a.boton-contactanos-izquierda {
  margin:2.5em auto 0;
  width:80%
}

#quienes-somos .contenedor aside {
  display:none
}

#video .contenedor {
  max-width:960px;
  width:96%
}

#video .contenedor #player {
  padding:0 2%;
  width:76%
}

#video .contenedor #player iframe {
  width:96%
}

#video .contenedor #list {
  width:18%
}

#video .contenedor #list .primera h3,#video .contenedor #list .segunda h3,#video .contenedor #list .tercera h3 {
  display:none
}

#video .contenedor #list .primera p,#video .contenedor #list .segunda p,#video .contenedor #list .tercera p {
  display:none
}

#video .contenedor #list a img {
  float:left;
  max-width:134px;
  width:97%
}

#video-embed {
  background:#EEE;
  height:auto;
  padding:0;
  position:static;
  margin-bottom:0;
  margin-top:-1em
}

#video-embed video {
  display:none
}

#video-embed .video-embed-text {
  background-color:transparent;
  border-radius:0;
  height:auto;
  margin:0 auto;
  width:90%;
  position:static
}

#video-embed .video-embed-text .team {
  padding:0;
  text-align:center;
  width:47%
}

#video-embed .video-embed-text .team:nth-child(3),#video-embed .video-embed-text .team:nth-child(4) {
  margin-top:3em
}

#video-embed .video-embed-text .team div.team-photo {
  padding:.5em 0;
  width:52%
}

#video-embed .video-embed-text .team div.team-photo img {
  border-radius:50%;
  width:94%
}

#redes-sociales .contenedor ul {
  padding:0
}

#redes-sociales .contenedor ul li {
  margin:1em
}

#pie .contenedor {
  max-width:960px;
  width:96%
}
}

@media screen and (max-width:480px) {
#superior {
  left:0;
  position:relative;
  top:0
}

#superior header {
  width:100%
}

#superior nav {
  display:none
}

#superior nav#mobile {
  background:#FFF;
  background-image:url(../img/design/bg-nav.png);
  background-position:top left;
  background-repeat:repeat-x;
  bottom:0;
  box-shadow:0 0 1.1em #000;
  display:block;
  font-size:.8em;
  height:4em;
  left:0;
  position:fixed;
  width:100%;
  z-index:3
}

#superior nav#mobile ul li {
  display:inline-block;
  padding-top:0;
  width:25%;
  margin:0 -2px
}

#superior nav#mobile ul li a {
  color:#656565;
  display:block;
  font-weight:700;
  padding:1.3em 0;
  text-decoration:none
}

#superior nav#mobile ul li a.active,#superior nav#mobile ul li a:hover {
  background:#CCC
}

#imagen {
  height:5em
}

#imagen section {
  left:1%;
  top:1%;
  width:93%;
  display:none
}

#quienes-somos {
  padding:1em 0
}

#quienes-somos .contenedor #primera,#quienes-somos .contenedor #segunda {
  display:block;
  vertical-align:top;
  margin:0 4%;
  width:92%
}

#quienes-somos .contenedor #segunda {
  margin-top:1em
}

#quienes-somos .contenedor a.boton-contactanos,#quienes-somos .contenedor a.boton-contactanos-izquierda {
  width:80%
}

#quienes-somos .contenedor .interna .linea-trabajo {
  display:block;
  vertical-align:top;
  margin:1em auto;
  width:90%
}

#video .contenedor #player,#video .contenedor #list {
  display:block;
  vertical-align:top;
  text-align:center
}

#video .contenedor #player {
  padding:0 5%;
  width:89%
}

#video .contenedor #player iframe {
  height:170px;
  width:90%
}

#video .contenedor #list {
  display:none
}

#video-embed .video-embed-text .team {
  width:100%;
  margin-top:0
}

#video-embed .video-embed-text .team:nth-child(3),#video-embed .video-embed-text .team:nth-child(4) {
  margin-top:0
}

#redes-sociales .contenedor ul {
  padding:0;
  text-indent:0
}

#redes-sociales .contenedor ul li {
  margin:.5em
}

#pie .contenedor #verde {
  display:none
}

#pie .contenedor footer#mobilef {
  display:block;
  text-align:center;
  font-size:.8em;
  font-weight:400;
  padding-bottom:5em;
  text-align:center;
  width:100%
}

#pie .contenedor footer {
  display:none
}
}